body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

p {
    color: #444b7c;
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 20px auto;
}

#inputBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #e4e9f0;
    border: 1px solid #943c8c;
}

#inputBox::placeholder {
    color: #943c8c;
}

#flashImage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 50vw;
    height: 50vh;
    object-fit: contain;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    border: 1px solid #943c8c;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e95edc;
    color: #ffffff;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #449cd4;
    color: #ffffff;
    border-color: #1e8bc1
}

.dragging {
    background-color: #e9ecef; /* Light grey background */
    border: 1px solid #dee2e6; /* Slightly darker border */
    opacity: 0.75; /* Slightly transparent to distinguish it */
}

.hidden {
    display: none;
}
